{% extends 'base.html' %}

{% load crispy_forms_tags %} 

{% block content %}

<!-- this form is filtering the number of stocks through CartridgeProductNumber-->
<form method="get">

  {{ cartridge_filter.form | crispy }}

  <button class="btn btn-primary" type="submit">Search</button>

</form>
{{ form.media.css }}

<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Color</th>
        <th scope="col">Cartridge Type</th>
        <th scope="col">Stocks</th>
        <th scope="col">Action</th>

      </tr>
    </thead>
    <tbody>

        {% for cartridge in cartridges %}
         
            <tr>
                <th scope="row">{{cartridge.name}}</th>
                <th>{{cartridge.color}}</th>
                <th>{{cartridge.cartridge_type}}</th>
                {% if cartridge.number_of_cartridges == 0 %}
                <th scope="row"><div class="position-absolute rounded text-light bg-danger">No Stock</div></th>
                {% else %}
                <th>{{cartridge.number_of_cartridges}}</th>
                {% endif %}
                <td></td>
            </tr>

           
        {% endfor %}
    </tbody>
  </table>

  <!-- pagination pages for cartridges. this will list 10 items per page-->
  {% if cartridge_counts.has_other_pages %}
  <nav>
    <ul class="pagination justify-content-center">
      {% if cartridges.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ cartridges.previous_page_number }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
      {% else %}
        <li class="page-item disabled">
            <span class="page-link" aria-hidden="true">&laquo;</span>
        </li>
      {% endif %}

      {% for p in cartridges.paginator.page_range %}
        {% if cartridges.number == p %}
          <li class="page-item"><a class="page-link" style="color: red;" href="#">{{ p }}</a></li>
        {% else %}
          <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
        {% endif %}
      {% endfor %}

      {% if cartridges.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ cartridges.next_page_number }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <span class="page-link" aria-hidden="true">&raquo;</span>
        </li>
      {% endif %}
    </ul>
  </nav>
  {% endif %}
    

{% endblock content %}