{% extends 'base.html' %}
{% load static %}
{% block content %}
    {{ form.media.css }}
    <h1>Cartridge</h1>
    
    <form action="" method="post">
        {% csrf_token %}
        <br/>
        <h4>Enter the name of the Cartridge</h4>
        <div>{{form.name}}</div>
        <br/>
        <h4>{{form.printer_model.label}}</h4>
        <div class="#selectbox"  style= "font-size:20px" >{{form.printer_model}} </div>
        <br/>
        <h4>Enter the Product number of the Cartridge</h4>
        <div class="#selectbox"  style= "font-size:20px">{{form.cart_prod_no}} </div>
        <br/>
        <h4>Select the Manufacturer of the Cartridge</h4>
        <div class="#selectbox"  style= "font-size:20px">{{form.make}} </div>
        <br/>
        <input class="btn btn-primary" type="submit" value="Submit">

    </form>
    {% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> {% endcomment %}
    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    {{ form.media.js }}
    
{% endblock content %}

