<nav id="sidebar">
  <div class="p-4 pt-5">
    <a href="#" class="img logo rounded-circle mb-5" style="background-image: url(images/logo.jpg);"></a>
    <ul class="list-unstyled components mb-5">
      <li>
        <a href="#PrinterSubmenu" data-toggle="collapse"  class="dropdown-toggle">Printer</a>
        <ul class="collapse list-unstyled" id="PrinterSubmenu">
          <li>
              <a href=" {% url 'printer_create' %} ">Add New Printer</a>
          </li>
          <li>
              <a href="{% url 'printer_list_deployed' %}">List Deployed Printer</a>
          </li>
          <li>
              <a href="{% url 'printer_list_instock' %}">List InStock Printer</a>
          </li>
          <li>
            <a href="#PrinterModelSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Printer Model</a>
            <ul class="collapse list-unstyled" id="PrinterModelSubmenu">
              <li>
                <a href="{% url 'create_printer_model' %}">Create Printer Model</a>
              </li>
              <li>
                <a href="{% url 'list_printer_model' %}">List Printer Models</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <a href="#CartridgeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Catridge</a>
        <ul class="collapse list-unstyled" id="CartridgeSubmenu">
          <li>
            <a href="{% url 'cartridge_create' %}">Add New Cartridge</a>
          </li>
          <li>
              <a href=" {% url 'cartridge_list_instock' %} ">List InStock Cartridges</a>
          </li>
          <li>
              <a href="{% url 'cartridge_list_installed' %}">List Installed Cartridges</a>
          </li>
          <li>
            <a href="#CartridgeProdNoSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Catridge Product No.</a>
            <ul class="collapse list-unstyled" id="CartridgeProdNoSubmenu">
              <li>
                <a href="{% url 'create_cartridge_product_no' %}">Add New Cartridge</a>
              </li>
              <li>
                <a href="{% url 'list_cartridge_product_no' %}">List Cartridge Product No.</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <a href="#LocationSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Location</a>
        <ul class="collapse list-unstyled" id="LocationSubmenu">
          <li>
              <a href="{% url 'list_location' %}">List of Locations</a>
          </li>
          <li>
              <a href="{% url 'create_location' %}">Create Location</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#MakeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Make</a>
        <ul class="collapse list-unstyled" id="MakeSubmenu">
          <li>
              <a href="{% url 'list_make' %}">List of Make</a>
          </li>
          <li>
              <a href="{% url 'create_make' %}">Create Make</a>
          </li>
        </ul>
      </li>
    </ul>

    <div class="footer">
        <p>Powered by Python and Django</p>
        <p>Created by Bryan Misa</p>
    </div>

  </div>
</nav>